*{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0 15px 15px 15px;
    padding: 0px;
    box-sizing:border-box;
}

body {
    background-color:darkgrey;
    font-family:noto sans, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 0px;
}

header {
    background-color:darkolivegreen;
    margin-top: 0px;
    border:5px solid black;
}

h1 {
    color: black;
    font-family: arial;
    font-size: 50px;
} 

p {
    color: black;
}



h2 {
    color: black;
}

li {
    color:blanchedalmond;
    text-align: center;
    font-weight: 200;
}




.skidegate {
    color:rgb(255, 255, 255);
    font-size: 35px;
    text-align:center;
    font-style: italic;
    line-height: 2;
}

.tlell {
    color:rgb(255, 255, 255);
    font-size: 35px;
    text-align:center;
    font-style: italic;
    line-height: 2;
}

.masset {
    color:rgb(255, 255, 255);
    font-size: 35px;
    text-align:center;
    font-style: italic;
    line-height: 2;
}

.port {
    color:rgb(255, 255, 255);
    font-size: 35px;
    text-align:center;
    font-style: italic;
    line-height: 2;
}

.south {
    text-align:center;
    font-weight:bolder;
    text-decoration: underline;
}
/*help with shortening line and also nav bar color change?*/

footer p {
    font-size: 10px;
}

ul,ol {
    list-style-position: inside;
}




.north {
    text-align:center;
    font-weight:bolder;
    text-decoration: underline;
}

header a {
    color:black;
}

section a {
    color:rgb(106, 160, 75);
}

a {
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}
.subnotes {
    font-size:20px;
    color:blanchedalmond;
    text-align: center;
}
/*help*/
img {
    display: block;
    margin: 20px auto;
    width:70%;
    height:60%;
}

body {
    background-image:url("./assets/haida-gwaii-above.jpg"); 
    background-size: cover;         
    background-position: center;    
    background-repeat: no-repeat;   
    background-attachment: fixed;   
    font-family: Arial, sans-serif;
    color: white;                  
}

strong {
    color:red;
    font-weight: 200;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.longp {
    margin: 0 35px 0 35px;
    padding: 35px;
}

section {
    border-bottom: 3px solid black;
}



